@import "tailwindcss";

@theme {
  --color-brand-primary: #1a1a1a;
  --color-brand-secondary: #d97556;
  --color-page-background: #f2f2f2;
  --font-sans: 'Inter', sans-serif;
  --font-size-base: 13px;
}

@layer base {
  html {
    font-size: var(--font-size-base);
  }

  body {
    background-color: var(--color-page-background);
  }

  button,
  [type='button'],
  [type='submit'],
  [type='reset'] {
    cursor: pointer;
  }

  button:disabled,
  [type='button']:disabled,
  [type='submit']:disabled,
  [type='reset']:disabled {
    cursor: pointer;
  }
}
