@import "tailwindcss";

@layer base {
  button,
  [type='button'],
  [type='submit'],
  [type='reset'] {
    cursor: pointer;
  }

  button:disabled,
  [type='button']:disabled,
  [type='submit']:disabled,
  [type='reset']:disabled {
    cursor: pointer;
  }
}
